<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis dolorum ratione, eum pariatur expedita eaque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ipsum cupiditate reprehenderit sint beatae recusandae.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita autem, itaque dicta eum dignissimos quibusdam?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>